.vending-machine-container {
    position: relative;
    margin: auto;
    height: 795px;
    width: 600px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/vending-machine.png');
}

.chips-option {
    position: relative;
    display: block;
    height: 208px;
    width: 405px;
    top: 46px;
    left: 45px;
}

.soda-option {
    position: relative;
    display: block;
    height: 108px;
    width: 405px;
    top: 75px;
    left: 45px;
}

.candy-option {
    position: relative;
    display: block;
    height: 168px;
    width: 405px;
    top: 58px;
    left: 45px;
}